<suite name="My suite">
<listeners>
    <listener class-name="com.qtpselenium.listener.TestsListenerAdapter" />
</listeners>
  <suite-files>
   <suite-file path="./Search Suite.xml" />
   <suite-file path="./Cart Suite.xml" />
   <suite-file path="./Suite_C.xml" />
   
  </suite-files>
</suite>